* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f8edad;
    color: #e96711;
}

/* Шапка */
.header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.navigation ul {
    list-style: none;
    display: flex;
}

.navigation li {
    margin-left: 20px;
}

.navigation a {
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
}

.navigation a:hover {
    color: #ff6b6b;
}

/* Основная секция */
.content-section {
    padding: 40px;
    text-align: center;
}

/* Футер */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    left: 0;
    right: 0;
    bottom: 0;
}


.uchenik{
    padding: 40px;
    text-align: center;
    box-shadow: 0 20px 15px rgba(11, 136, 145, 0.3), 0 20px 10px #ad3e3e1a;
}

.uchenik img{
    width: 400px;
    box-shadow: 10px 10px 15px rgba(11, 136, 145, 0.3), 0 20px 10px #ad3e3e1a;
}
.team-wrapper{
    
    width: 80vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;
    padding:30px 100px 30px 100px ;
}

.team{
    text-align: center;
}
